<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" *ngIf="canEdit">Edit User</h4>
                        <h4 class="card-title" *ngIf="!canEdit">Create User</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width" *ngIf="canEdit">
                                    <input matInput id="email" placeholder="E-mail" [(ngModel)]="user.user_email"
                                        disabled>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" *ngIf="!canEdit">
                                    <input matInput id="email" placeholder="E-mail" [(ngModel)]="user.user_email">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput id="new_password" placeholder="New password"
                                        [(ngModel)]="newPassword.new_password" type="password">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput id="confirm_password" placeholder="Confirm new password"
                                        [(ngModel)]="newPassword.confirm_password" type="password">
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="!canEdit"
                            (click)="create()">Create</button>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" *ngIf="canEdit"
                            (click)="updatePassword()">Update</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>